<!-- medication_app/templates/medication_app/home.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Medication Logger</title>
    <style>
        body {
            font-family: 'Helvetica', sans-serif;
        }
        h1, h2, p, button {
            font-family: 'Helvetica', sans-serif;
        }
        button {
            padding: 10px 20px;
            margin: 5px;
            border: none;
            background-color: #007BFF;
            color: white;
            cursor: pointer;
        }
        button:hover {
            background-color: #0056b3;
        }
        form {
            margin: 10px 0;
        }
    </style>
</head>
<body>
    <h1>Medication Logger</h1>
    <form method="post" action="{% url 'medication_app:log_medication' 'Tylenol' '500mg' %}">
        {% csrf_token %}
        <button type="submit">Log Tylenol</button>
    </form>
    <form method="post" action="{% url 'medication_app:log_medication' 'Ibuprofen' '200mg' %}">
        {% csrf_token %}
        <button type="submit">Log Ibuprofen</button>
    </form>

    <h2>Counts</h2>
    <p>Tylenol: {{ tylenol_count }} <br>Last Logged: {{ tylenol_last_timestamp|date:"l F jS g:i a" }} <br>Next Dose: {{ tylenol_next_dose|date:"l F jS g:i a" }}
        <form method="post" action="{% url 'medication_app:clear_history' 'Tylenol' %}" style="display: inline;">
            {% csrf_token %}
            <button type="submit" style="background-color: #FF0000;">Clear History</button>
        </form>
    </p>
    {% if show_manual_form.Tylenol %}
    <form method="post" action="{% url 'medication_app:manual_event' %}">
        {% csrf_token %}
        {{ manual_event_form.as_p }}
        <input type="hidden" name="medication_name" value="Tylenol">
        <button type="submit">Submit Tylenol Event</button>
    </form>
    {% endif %}
    
    <p>Ibuprofen: {{ ibuprofen_count }} <br>Last Logged: {{ ibuprofen_last_timestamp|date:"l F jS g:i a" }} <br>Next Dose: {{ ibuprofen_next_dose|date:"l F jS g:i a" }}
        <form method="post" action="{% url 'medication_app:clear_history' 'Ibuprofen' %}" style="display: inline;">
            {% csrf_token %}
            <button type="submit" style="background-color: #FF0000;">Clear History</button>
        </form>
    </p>
    {% if show_manual_form.Ibuprofen %}
    <form method="post" action="{% url 'medication_app:manual_event' %}">
        {% csrf_token %}
        {{ manual_event_form.as_p }}
        <input type="hidden" name="medication_name" value="Ibuprofen">
        <button type="submit">Submit Ibuprofen Event</button>
    </form>
    {% endif %}
</body>
</html>
