<!-- app/templates/potato.html -->
{% load static%} <!---added-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Potato Form</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}"> <!--added-->
</head>
<body>
    <h1>Potato Form</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Submit</button>
    </form>

    {% if form.is_bound %}
        <div class="form-data"><!--added-->
            <h2>Form Data:</h2>
            <table class="form-data-table"><!--added-->
                <tr><!--added-->
                    <td>Potato Name: {{ form.cleaned_data.potato_name }}</td><!--changed "<p>" tag to "<td>" for table-->
                    <td>Potato Description: {{ form.cleaned_data.potato_description }}</td><!--changed "<p>" tag to "<td>" for table-->
                </tr><!--added-->
                <tr><!--added-->
                    <td>Potato Number: {{ form.cleaned_data.potato_number }}</td><!--changed "<p>" tag to "<td>" for table-->
                    <td>Is Potato: {{ form.cleaned_data.is_potato }}</td><!--changed "<p>" tag to "<td>" for table-->
                </tr><!--added-->
            </table><!--added-->
        </div><!--added-->
    {% endif %}
</body>
</html>
